minilab1a/c5_pin_model_dump.txt
*_assignment_defaults.qdf
*.asm.rpt
*.cdf
*.done
*.fit.rpt
minilab1a/c5_pin_model_dump.txt
*.fit.smsg
*.fit.summary
*.flow.rpt
*.jdi
*.jditmp
*.map.rpt
*.map.summary
*.pin
*.qsf
*.sld
*.sof
*.sta.rpt
*.sta.summary
work/